body {
    /*background of web site*/
    margin: 0; /*overrides of browser's default value to look nicer*/
    min-height:100%;
    background:linear-gradient(0deg, rgba(82, 133, 210, 0.35), rgba(82, 133, 210, 0.35)), /*background image*/
    url(https://img.freepik.com/free-vector/digital-money-transfer-technology-background_1017-17454.jpg?t=st=1730627574~exp=1730631174~hmac=a121804dea150be386a89a49c52b3c2129e8a8369406223f3b2733d7d602dcba&w=740);
     background-size:cover;
}


#view-port {
    /*the outer flex box*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150vh;
    }

.header {
    /*header properties*/
    display: flex;
    height: 125px;
    background:linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), 
    url(https://img.freepik.com/free-photo/gradient-dark-blue-futuristic-digital-grid-background_53876-129728.jpg?t=st=1730602295~exp=1730605895~hmac=6ce188ff7716ee3edce7a975f2d69da9ac6c0e03e40b1549b2576224f48b945e&w=1380);
    background-size:cover;
    background-position-y: 60%;
}

.white-div {
    /*white line under the header to give more lookable apperance*/
    height: 8%;
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    top: 120px;
    left: 0;
    right: 0;
}

#main-view {
    /*view flex box where diveded 3 parts*/
    display: flex;
    height: 100%;
}

#currency {
    /*the most left side of the view
      shows currency*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 20%;
    padding-top: 5%;
    padding-bottom: 2%;
}

.currency-item {
    /*items in currency
      displayed flex to align image and text*/
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    height: 15%;
    width: 60%;
    align-items: center;
    height: fit-content;
    background-color: rgba(50, 64, 134, 0.479);
}

.main-content {
    /*center item of view
      where main content displayed*/
    width: 60%;
    overflow-y:scroll;
    height: 110vh;
}

.main-head {
    /*head of main content*/
    text-align: center;
}

#account-information {
    /*the most right side of view
      has account informations*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 30px;
    width: 20%;

}

.user {
    /*displays user's name and picture*/
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    height: 25%;
    width: 70%;
    border: 1px black solid;
    background-color: rgba(50, 64, 134, 0.479);
}

.balance {
    /*displays user's balance*/
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-radius: 10px;
    height: 25%;
    width: 70%;
    border: 1px black solid;
    background-color: rgba(50, 64, 134, 0.479);
}

.previous-transactions {
    /*displayes previous transactions of user*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    height: 25%;
    width: 70%;
    border: 1px black solid;
    background-color: rgba(50, 64, 134, 0.479);
}

.transactions {
    border-radius: 10px;
    border: 0.8px black solid;
    width: 80%;
    height: 18%;
}

.footer {
    height: 200px;
    background-color: rgba(28, 45, 202, 0.6);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-item {
    /*comminacation info*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    border: 0.5px black solid;
    background-color: rgba(140, 149, 222, 0.736);
    height: 100px;
    width: 20%;
}


